<div class="container">
  <div class="row">
    <div class="col-sm">
      <a routerLink="materiel"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-truck"></i></span>
        <br>Materiels
      </a>
    </div>
    <div class="col-sm">
      <a routerLink="demande"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-truck"></i></span>
        <br>Demandes
      </a>
    </div>
    <div class="col-sm">
      <a routerLink="materiel"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-truck"></i></span>
        <br>Materiels
      </a>
    </div>
  </div>
</div>
